name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  BUILD_TEMP_DIR: "build"
  DEBIAN_FRONTEND: noninteractive

jobs:
  test:
    name: Test on ${{ matrix.os }} ${{ matrix.platform }}  (NodeJS ${{ matrix.node-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-22.04"
          - "ubuntu-20.04"
          - "macos-12"
          - "macos-11"
        platform: ["x86_64", "arm64"]
        node-version: ["16", "18"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: setup Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
              curl \
              wget \
              libcairo2-dev \
              libgles2-mesa-dev \
              libgbm-dev \
              libllvm11 \
              libuv1-dev \
              libprotobuf-dev \
              libxxf86vm-dev \
              xvfb \
              x11-utils

      - name: setup Linux x64 dependencies
        if: runner.os == 'Linux' && matrix.platform == 'x86_64'
        run: |
          wget http://archive.ubuntu.com/ubuntu/pool/main/i/icu/libicu66_66.1-2ubuntu2.1_amd64.deb
          sudo apt-get install -y ./libicu66_66.1-2ubuntu2.1_amd64.deb

      - name: setup Linux arm64 dependencies
        if: runner.os == 'Linux' && matrix.platform == 'arm64'
        run: |
          wget http://ports.ubuntu.com/pool/main/i/icu/libicu66_66.1-2ubuntu2.1_arm64.deb
          sudo apt-get install -y ./libicu66_66.1-2ubuntu2.1_arm64.deb

      - run: npm ci

      - name: test on Linux
        if: runner.os == 'Linux'
        run: |
          xvfb-run -a --server-args="-screen 0 1024x768x24 -ac +render -noreset" \
            npm run test tests

      - name: test on MacOS
        if: runner.os == 'macos'
        run: npm run test tests
